[submodule "configuration"]
	path = configuration
	url = https://github.com/apitore/configuration.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/apitore/config-server.git
	branch = master
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/apitore/eureka-server.git
	branch = master
